body, html {
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: sans-serif;
}

.container {
  position:relative;
  width:100%;
  height:100%;
  box-sizing:border-box;
  padding-right:20%;
}

.viewer {
  position:absolute;
  padding-right:20%;
  box-sizing:border-box;
}

.bar {
  position:absolute;
  bottom:0px;
  height:100%;
  width:20%;
  left:80%;
}
